body {
    background-color: azure;
    font-size: 1em;
    color: black;
}

a {
    color: black;
}

a:active {
    color: navajowhite;
}

a:focus{
    color: chocolate;
}


body > div {
    margin: 5px;
    padding: 10px;
}

div.heading {

    font-size: 2em;
    background-color: blanchedalmond;
    padding: 10px;
    text-transform: uppercase;

    text-effect: emboss;
}

div.heading a {
    font-size: 0.8em;
    color: darkgoldenrod;

}

div.section {

    background-color: beige;
    border-top: 1px solid darkgrey;
}

div.bottom {

    color: gray;
    background-color: darkgrey;
    padding-top: 10px;
}

div#osm-map {
    height: 300px;
}